<html>
<head>
	<title>xAPI Dashboard</title>
	<link rel='stylesheet' href='lib/nv.d3.css'></link>
	<script type="text/javascript" src="dist/xapicollection.min.js"></script>
	<script type="text/javascript" src="dist/xapidashboard.min.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	
	<script src="extra/gen-lrs-data.js"></script>
</head>
<body ng-app="ebookDash">
	<style>
		.nv-axislabel {
			font-size: 18px;
		}
		html, body, #main{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		#sidebar{
			float: left;
			width: 10%;
			height: 100%;
			background: #f8f8f8;
			padding: 5px 0 0 5px;
		}
		#children{
			float: right;
			width: 85%;
			padding: 5px;
		}	
		.svg-container{
			width: 80%;
			height: 50%;
			float:left;
			margin: 0 auto;
		}
		.heading{
			font-size: 30px;
		}
	</style>
	<div id="main">
		<div id="sidebar" ng-controller="sidebar">	
			
			<!-- Verbs list -->		
			<span ng-show="verbs.length > 0">Verbs</span>
			<ul>
				<li ng-repeat="item in verbs">
					<a href="" ng-click="filterClick(item, 'verb')">{{item}}</a>
				</li>
			</ul>		
			
			<!-- Parents list -->		
			<span ng-show="parents.length > 0">Parents</span>
			<ul>
				<li ng-repeat="item in parents">
					<a href="" ng-click="filterClick(item, 'parent')">{{item}}</a>
				</li>
			</ul>	
			
			<!-- Groups list -->
			<span ng-show="groups.length > 0">Groups</span>
			<ul>
				<li ng-repeat="item in groups">
					<a href="" ng-click="filterClick(item, 'grouping')">{{item}}</a>
				</li>
			</ul>
			
			<!-- Filters and such -->
			<div ng-show="filter.grouping || filter.parent || filter.verb">
				<span>Filters</span>
				<ul>
					<li ng-show="filter.verb">
						Verbs: <br/> {{filter.verb}} 
						(<a href="" ng-click="clearFilter('verb')">x</a>)
					</li>
					<li ng-show="filter.parent">
						Parent: <br/> {{filter.parent}} 
						(<a href="" ng-click="clearFilter('parent')">x</a>)
					</li>
					<li ng-show="filter.grouping">
						Grouping: <br/> {{filter.grouping}} 
						(<a href="" ng-click="clearFilter('grouping')">x</a>)
					</li>
				</ul>
			</div>
		</div>
	
		<!-- Charts live here! -->
		<div id="children">			
			<div class="svg-container"><svg id="svg"></svg></div>
			<div class="svg-container"><svg id="svg4"></svg></div>
		</div>
	</div>
	<script type="text/javascript">
		var wrapper = new XAPIWrapper({"endpoint" : 'https://lrs.adlnet.gov/xAPI/'});
		var dash = new ADL.XAPIDashboard();
		
		//You could fetch statements instead of statically including them here
		dash.addStatements(window.statements);

		var minMaxAverage = dash.createMultiBarChart({
			container: '#svg',
			pre: "verb.id = 'http://adlnet.gov/expapi/verbs/answered'",
			aggregate: ADL.multiAggregate("actor.mbox", ADL.count),
			groupBy: 'actor.mbox',
			innerGroupBy: 'object.id',
			customize: function(nvd3Chart){
				nvd3Chart.yAxis.axisLabel("Grade");			
			}
		});

		var studentsInRange = dash.createBarChart({
			container: "#svg4",
			groupBy: 'verb.display.en-US',
			aggregate: ADL.count(),
			post: function(data){
				data.orderBy('out', 'desc');
			},
			customize: function(nvd3Chart, event){
				nvd3Chart.xAxis.rotateLabels(45).axisLabel("Student");
				nvd3Chart.yAxis.axisLabel("Grade");
			}
		});

		
		
		var dashModule = angular.module("ebookDash", []);
		
		//This service exists only to share data between two controllers (there used to be two controllers)
		dashModule.factory('chartFilter', function(){
			return {filter:{grouping: '', parent: '', verb: ''}, data:{grouping: [], parents: [], verbs: []}};
		});		
		
		//This is the 'service' that fetches all unique groupings and parents and stores it in the chartFilter object
		dashModule.factory('updateChartFilters', ['chartFilter', function(chartFilter){
			return function(val, type){		
				
				var groupingArr = chartFilter.data.grouping;
				var parentArr = chartFilter.data.parents;
				var verbsArr = chartFilter.data.verbs;
				verbsArr.length = 0;	
				
				window.statements.forEach(function(element){
					var grouping = null;
					var parents = null;
					
					if(verbsArr.indexOf(element.verb.display["en-US"]) == -1){
						verbsArr.push(element.verb.display["en-US"]);
					}
					
					try{ grouping = element.context.contextActivities.grouping; }
					catch(e){}			
					
					try{ parents = element.context.contextActivities.parent; }
					catch(e){}
					
					if(grouping != null && grouping.length > 0){
						grouping.forEach(function(item){
							var str = item.definition.name["en-US"];
							if(groupingArr.indexOf(str) == -1) groupingArr.push(str);
						});
					}		
					
					if(parents != null && parents.length > 0){
						parents.forEach(function(item){
							var str = item.definition.name["en-US"];
							if(parentArr.indexOf(str) == -1) parentArr.push(str);
						});
					}
				});
				
				chartFilter.filter[type] = val;
				var cond1 = '', cond2 = '', cond3 = '';
				
				if(chartFilter.filter['grouping']) cond1 = getAddCondition('grouping');
				if(chartFilter.filter['parent']) cond2 = getAddCondition('parent');
				if(chartFilter.filter['verb']) cond3 = 'verb.display.en-US = "' + chartFilter.filter.verb + '"';
				
				var condition = cond1 + (cond1 && cond2 ? ' and ' : ' ') + cond2 + ((cond1 || cond2) && cond3 ? ' and ' : ' ') + cond3;
				
				if(cond1 || cond2 || cond3){
					minMaxAverage.opts.pre = condition;
				}
				
				studentsInRange.opts.pre = condition;
				console.log(minMaxAverage.opts.pre);

				
				minMaxAverage.draw();
				studentsInRange.draw();
			};
			
			function getAddCondition(type){
				return 'context.contextActivities.' + type + '.*.definition.name.en-US = ' + "'" + chartFilter.filter[type] + "'";
			}
		}]);
		
		dashModule.controller('sidebar', ['$scope', 'chartFilter', 'updateChartFilters', function($scope, chartFilter, updateChartFilters){
			$scope.parents = chartFilter.data.parents;
			$scope.groups = chartFilter.data.grouping;
			$scope.verbs = chartFilter.data.verbs;
			$scope.filter = chartFilter.filter;
			
			$scope.clearFilter = function(type){
				chartFilter.filter[type] = '';
				updateChartFilters('', type);
			};
			
			$scope.filterClick = updateChartFilters;
			
			updateChartFilters('', 'parent');
		}]);
	</script>
</body>
</html>
